<div class="container">
    <img class="beer-img" src="{{this.photo}}" alt="" />
    <a class="buttons" href="/beers">Check the Beers!</a>
    <a class="buttons" href="/random-beers">Check a Random Beer</a>