<div>
    <img class="img-back" src="{{this.photo}}" alt="" />
</div>
<div class="random-link">
    <a href="/beers">Check the Beers!</a>
</div>
<div class="random-link">
    <a href="/random-beers">Check a Random Beer</a>
</div>