/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body {
    
    background-color: #f7f9f9;
}

.img-back {
    display: flex;
    justify-content: center;
    margin-left: 500px;
}



#nav-bar2  {
    background-color: #2081c3;
    color:white;
}

.img-back {
width: 500px;
height: 500px;

}

.beer {
    display: flex;
    flex-direction:row;
    padding: 20px;
    width: 0px;
    height: 200px;
}