/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
body {
    background-color: #f7f9f9;
}


.navbar {
    background-color: #2081C3!important;
    color: white;
}


.beer-img{
    width: 30%;
    height: 40%;
    margin-left: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.col-md-4 img {
    display: flex;
    width: 15%;
  margin: 30px auto;
  
    
}

.col-md-4 {
    display: flex;
    text-align: left;
    padding-right: 30px;
    padding-left: 30px;
    margin: 0px  ;
}

.buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    background-color: #2081c3;
    color: white;
}

.fixed-bottom{
    background-color: #0a2c42;
    color: #f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}


.beer-body{
    margin-top:100px;
}
.beer-body>p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

